.hero .container{
    background: url(..//img/telefon.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1190px;
    height: 702px;
    border-radius: 15px;
}


.hero{



    &__div{
        width: 540px;
        height: 350px;
        padding-top: 145px;
        padding-left: 95px;       
    }

    &__h2{
        width: 540px;
        height: 165px;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 48px;
        color: #FFFFFF;        
    }

    &__text{
        width: 540px;
        height: 165px;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;        
    }

    &__link{
        padding: 20px;
        width: 152px;
        height: 56px;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 1px;
        text-transform: uppercase;    
        color: #333136; 
        background: #FFFFFF;
        border-radius: 8px;       
    }
}